#define layout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + ' - ' + WEB_SUBTITLE))</title>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="#(CPATH)/static/components/fontawesome-free/css/font-awesome.min.css" rel="stylesheet">
    <link href="#(CPATH)/static/components/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="highlight/styles/railscasts.css" rel="stylesheet">
    <link href="#(CPATH)/static/front/jpressfront.css" rel="stylesheet">
    <link href="css/cl-css.css" rel="stylesheet">
    <link href="#(CPATH)/static/commons/img/icon.png" type="image/x-icon" rel="shortcut icon">
    #@css?()
</head>
<body>
<div class="cl-header container-fluid">
    <div class="header-content container">
        <nav class="navbar-nav  navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#(CPATH)#(SPATH)/">
                <img src="#option('calmlog_logo','img/default-img.png')" width="100" alt="DestyClub">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#jpress-default-menu"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            #@defaultMenu("collapse navbar-collapse justify-content-end","navbar-nav","nav-item","nav-link")
            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!-- 头像信息 -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="javascript:;" style="display: flex;align-items: center">
                        <img src="#(USER.avatar ?? 'img/avatar.png')" class="img-circle" style="width:30px;height:30px">
                        <i class="fas fa-sign-out-alt"></i>
                        #if(USER == null)
                        Login
                        #end
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">

                        #if(USER)
                        <a href="#(CPATH)/ucenter" class="dropdown-item">
                            <i class="fas fa-sign-out-alt"></i> 用户中心
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#(CPATH)/ucenter/info" class="dropdown-item">
                            <i class="fas fa-sign-out-alt"></i> 个人信息
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#(CPATH)/ucenter/logout" class="dropdown-item">
                            <i class="fas fa-sign-out-alt"></i> 退出
                        </a>
                        #else
                        <div class="dropdown-divider"></div>
                        <a href="#(CPATH)/user/login" class="dropdown-item">
                            <i class="fas fa-sign-out-alt"></i> 登录
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#(CPATH)/user/register" class="dropdown-item">
                            <i class="fas fa-sign-out-alt"></i> 注册
                        </a>
                        #end
                    </div>
                </li>
                <!-- 头像信息结束 -->
            </ul>
        </nav>

    </div>

</div>

<div class="cl-cantainer container">
    <div class="row">

        #@content()

    </div>

</div>

<div class="container-fluid cl-footer">
    <div class="container">
        #(WEB_COPYRIGHT ? WEB_COPYRIGHT : ' <br/> copyright @ 2020~2022 DestyClub® （www.desty.club）')
    </div>
</div>
<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/front/jpressfront.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="highlight/highlight.pack.js"></script>
#@script?()
<script>
    hljs.initHighlightingOnLoad();
    $('[data-toggle="tooltip"]').tooltip();
</script>
</body>
</html>
#end
